* {
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/src/assets/fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/src/assets/fonts/Quicksand-Regular.ttf');
}



body {
    background-image: url("../img/cadastro2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Quicksand-Regular";
}

input{
    border: none;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* Espaçamento entre os inputs */
align-items: center;

}

.card {
    background-color: rgba(29, 24, 23, 0.8);
    padding: 30px;
    border-radius: 4%;

    width: 700px;
    height: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(240, 100%, 99%)
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: #A29BFE;
    font-family: 'Quicksand-Medium';
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.4s, transform 0.4s, box-shadow 0.4s;
}

button:hover {
    background-color: #5344c3;
    transform: scale(1.05);
    box-shadow: 0 0 15px #5344c3;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#labelNome {
    display: block;
    margin-bottom: 5px;
    color: white;
    
    /* Adiciona um pequeno espaçamento */
}

#nome {
    color: white;
    width: 100%;
    height: 30px;
    border: 2px solid rgba(164, 163, 163, 1);
    border-radius: 5px;
    background-color: rgba(108, 121, 123, 0.9)
}

input::placeholder {
    color: rgba(164, 163, 163, 1);
    /* Troque para a cor desejada */
    font-style: italic;
    /* Opcional */

}

.labelEmail {
    display: block;
    color: white;
    margin-top: 20px;
}

.labelUsuario {
    display: block;

    color: white;
}
.label-Csenha{
    display: inline;
        color: white;
        margin-top: 20px;
}
.label-senha{
    display: inline;
        color: white;
        margin-top: 20px;
}


#email {

    color: white;
    width: 100%;
    height: 30px;
    border: 2px solid rgba(164, 163, 163, 1);
    border-radius: 5px;
    background-color: rgba(108, 121, 123, 0.9)
}

#labelSenha {
    display: inline;
    margin-bottom: 5px;
    color: white;

    /* Adiciona um pequeno espaçamento */
}

#senha {
    margin-top: 5%;
    color: white;
    width: 33%;
    height: 30px;
    border: 2px solid rgba(164, 163, 163, 1);
    border-radius: 5px;
    background-color: rgba(108, 121, 123, 0.9);

}
#Csenha {
    margin-top: 5%;
    color: white;
    width: 33%;
    height: 30px;
    border: 2px solid rgba(164, 163, 163, 1);
    border-radius: 5px;
    background-color: rgba(108, 121, 123, 0.9);

}

#verConfirmSenha,
#verSenha {
    color: white;
    gap: 2px;

}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

p {
    color: rgba(166, 166, 166, 1);
    font-weight: bold;
    font-size: medium;
    align-items: center;
    margin-right: 10px;
    /* display: inline ; */
    margin-bottom: 5px;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.senhas{
    display: flex;
    flex-direction: column;
}