*{
    box-sizing: border-box;
    margin: 0px;
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/src/assets/fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/src/assets/fonts/Quicksand-Regular.ttf');
}

body{
    overflow-x: hidden;
    font-family: "Quicksand-Regular";
}

#conteudo-detalhes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 65vh;
    background-color: #0D0C1D;
}

.lado-a{
    height: 65vh;
    width: 22vw;
    background-color: #0D0C1D;;
    padding-left: 2%;
    padding-top: 1%;
}

.lado-a h1{
    font-size: 40px;
    color: #ffff;
}

.lado-a img{
    width: 330px;
    margin-top: 20px;
}

.lado-b{
    width: 73vw;
    height: 45vh;
    background-color: #0D0C1D;;
    line-height: 1.5;
}

.lado-b p{
    font-size: 25px;
    color: #ffff;
}

.icons-filmes{
    height: 12vh;
    width: 100vw;
    background-color: #0D0C1D;;
    display: flex;
}

.icons-filmes div{
    height: 8vh;
    width: 25vw;
    background-color: #0D0C1D;;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}

.icons-filmes img{
    width: 40px;
}

.icons-filmes a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease-in-out;
}

.icons-filmes a:hover{
    transform: scale(1.05);
}

.add-filmes{
    height: 5vh;
    width: 10vw;
    background-color: rgb(68, 156, 156);
}