/* Define estilos globais */
* {
    margin: 0px;
    /* Remove margem de todos os elementos */
    box-sizing: border-box;
}

/* Importa fontes personalizadas */
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/src/assets/fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/src/assets/fonts/Quicksand-Regular.ttf');
}



/* Estiliza o HTML e o corpo da página */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0D0C1D;

}

/* Estiliza títulos */
h1 {
    text-align: center;
    /* Centraliza o texto */
    color: #fff;
    /* Define cor branca */
}

/* Container principal */
.caixa {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(241, 19, 19);


    background-color: #A29BFE;
}

/* Botões organizados em coluna */
.botoes1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os elementos */
    gap: 10px;
    /* Adiciona espaçamento entre os itens */
    position: relative;
    height: 100%;
    width: 20%;
    /* Adiciona espaço entre eles */
}

/* Estiliza links ou botões */
.tagA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 2px solid rgb(231, 2, 2);
    margin-bottom: 20px;
    border-radius: 5px;
    /* Arredonda os cantos */
    color: white;
}

/* Estiliza cartões */
.card {
    display: flex;
    justify-content: space-between;
    /* Separa os elementos horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    width: 100%;
    height: 100%;
}

/* Container de filmes */
.filmes {
    height: 20%;
    overflow: hidden;
    /* Esconde conteúdo que ultrapasse os limites da div */
}

/* Container de filmes organizado em grid */
.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Cria colunas adaptáveis */
    gap: 20px;
}

/* Estiliza cada cartão de filme */
.movie-card {
    background-color: #222;
    /* Fundo escuro */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    /* Suaviza efeito ao passar o mouse */
}

/* Efeito ao passar o mouse */
.movie-card:hover {
    transform: scale(1.03);
}

/* Estiliza imagens dos filmes */
.movie-card img {
    max-width: 80%;
    border-radius: 5px;
}

/* Estiliza título dos filmes */
.titulo-filme{
    font-size: 1.1em;
    margin: 10px 0;
}
.botao-facorito {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.botao-facorito:hover {
    background-color: #b00610;
}