<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para o arquivo CSS que define o estilo do cabeçalho -->
    <link rel="stylesheet" href="/src/assets/css/cabecalho.css">
    <title>Document</title>
</head>

<body>
    <!-- Container do cabeçalho com id "subir" e classe "header" -->
    <div id="subir" class="header">
        <!-- Logo que redireciona para a página inicial ao ser clicado -->
        <a href="/src/index.html">
            <img src="/src/assets/img/logo-branco.png" alt="" id="logo-cabecalho">
        </a>
       
        <!-- Links de navegação para páginas populares, filmes e séries -->
        <h4>
            <a href="/src/pages/populares.html" style="text-decoration: none;" id="link-populares" class="bt-cabecalho">
                Populares
            </a>
        </h4>
        <h4>
            <a href="/src/pages/filmes.html" style="text-decoration: none;" id="link-filmes" class="bt-cabecalho">
                Filmes
            </a>
        </h4>
        <h4>
            <a href="/src/pages/series.html" style="text-decoration: none;" id="link-series" class="bt-cabecalho">
                Séries
            </a>
        </h4>
        <h4 id="botao-favoritos" style="display: none;">
            <a href="/src/pages/favoritos.html" style="text-decoration: none;" id="link-favoritos" class="bt-cabecalho">
                Favoritos
            </a>   </h4>
        <!-- Botão para redirecionar para a página de login -->
        <button class="botao-cabecalho">
            <a href="/src/pages/login.html" style="text-decoration: none;">Entrar</a>
        </button>
    </div>
    
    <!-- Container destinado à exibição de filmes; geralmente preenchido dinamicamente via JavaScript -->
    <div class="movies-container" id="moviesContainer"></div>

    <script>
  
    </script>
</body>

</html>