<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/cabecalho.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href=""><img src="/src/assets/img/logo-branco.png" alt="" id="logo-cabecalho"></a>
        <div class="input-cabecalho">
            <input type="text" id="barra-pesquisa" placeholder="Pesquise filmes e séries">
            <button class="icon-button">
                <img src="/src/assets/img/lupa.png" alt="icone de lupa" id="icone-lupa">
            </button>
        </div>
        <h4><a href="" style="text-decoration: none;" class="bt-cabecalho">Populares</a></h4>
        <h4><a href="" style="text-decoration: none;" class="bt-cabecalho">Filmes</a></h4>
        <h4><a href="" style="text-decoration: none;" class="bt-cabecalho">Séries</a></h4>
        <button class="botao-cabecalho">Entrar</button>
    </div>
</body>
</html>