<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <!-- Define a viewport para garantir o layout responsivo em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para o arquivo CSS que estiliza o rodapé -->
    <link rel="stylesheet" href="/src/assets/css/rodape.css">
    <title>Document</title>
</head>

<body>
    <!-- Container principal do rodapé -->
    <div class="rodape">
        <!-- Seção contendo os textos e links úteis do rodapé -->
        <div id="textos-rodape">
            <!-- Link para a página da API utilizada -->
            <a href="https://www.themoviedb.org/?language=pt-BR" style="text-decoration: none;">
                <p>API Utilizada</p>
            </a>
            <!-- Link para a página "Sobre nós" -->
            <a href="/src/pages/sobre.html" style="text-decoration: none;">
                <p>Sobre nós</p>
            </a>
            <!-- Link para a documentação inicial da API -->
            <a href="https://developer.themoviedb.org/docs/getting-started" style="text-decoration: none;">
                <p>Documento da API</p>
            </a>
            <!-- Link para os termos de utilização da API -->
            <a href="https://www.themoviedb.org/api-terms-of-use?language=pt-BR" style="text-decoration: none;">
                <p>Termos de Utilização da API</p>
            </a>
        </div>
        <!-- Seção contendo os ícones de redes profissionais -->
        <div id="icons-rodape">
            <!-- Ícone do LinkedIn direcionando para o perfil da Eduarda -->
            <a href="https://www.linkedin.com/in/eduarda-de-oliveira-meon/">
                <img src="/src/assets/img/linkedin 1.png" alt="">
            </a>
            <!-- Ícone do LinkedIn direcionando para o perfil da Kewry -->
            <a href="https://www.linkedin.com/in/kewry-da-paz-brito-0454b3335/">
                <img src="/src/assets/img/linkedin 1.png" alt="">
            </a>
            <!-- Ícone do LinkedIn direcionando para o perfil do Jeferson -->
            <a href="https://www.linkedin.com/in/jeferson-alves-santos-07248425a/">
                <img src="/src/assets/img/linkedin 1.png" alt="">
            </a>
        </div>
        <!-- Seção que contém o logo do rodapé, com funcionalidade de voltar ao topo -->
        <div id="logo-rodape">
            <!-- Link que redireciona para o topo da página (elemento com id "subir") -->
            <a href="#subir" id="subir">
                <img src="/src/assets/img/logo-branco.png" alt="">
            </a>
        </div>
    </div>
</body>

</html>