<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/rodape.css">
    <title>Document</title>
</head>
<body>
    <div class="rodape">
        <div id="textos-rodape">
           <a href="https://www.themoviedb.org/?language=pt-BR" style="text-decoration: none;"><p>API Utilizada</p></a> 
            <a href="" style="text-decoration: none;"><p>Sobre nós</p></a>
            <a href="" style="text-decoration: none;"><p>Ajuda</p></a>
            <a href=""  style="text-decoration: none;"><p>Políticas de Privacidade</p></a>
        </div>
        <div id="icons-rodape">
            <a href=""><img src="/src/assets/img/linkedin 1.png" alt=""></a>
            <a href=""><img src="/src/assets/img/linkedin 1.png" alt=""></a>
            <a href=""><img src="/src/assets/img/linkedin 1.png" alt=""></a>            
        </div>
        <div id="logo-rodape">
          <a href="">  <img src="/src/assets/img/logo-branco.png" alt=""></a>
        </div>
    </div>
</body>
</html>